.sloka-main-div{
    background-color: black;
    height: 100%;
    z-index: -1;
    display: flex;
    gap: 40px;
  }
  
  .slokacontainer {
    margin: 0 20px;
    z-index: 9;
    color: white;
  }
  
  .navbar {
    width: 200px; /* Adjust as needed */
    background-color: #000000;
    padding: 20px;
    border: 1px solid red;
  }
  
  .navbar h2{
    margin-bottom: 20px;
  }
  
  .sloka-child-div {
    display: flex;
    gap: 40px;
    background-color: #000000;
    color: white;
    height: 100%;
  }
  
  .verse-buttons-container {
    height: 30vh;
    overflow-y: auto; /* Enable vertical scrollbar */
    padding-right: 10px; /* Add space for scrollbar */
  }
  
  .verse-buttons {
    display: flex;
    flex-direction: column; /* Arrange buttons in a column layout */
    padding-right: 20px; /* Add space for scrollbar */
  }
  
  .verse-buttons button {
    margin-bottom: 5px; /* Add space between buttons */
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .verse-buttons button:hover {
    background-color: #0056b3;
  }
  
  /* Customize scrollbar */
  .verse-buttons-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .verse-buttons-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .verse-buttons-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .verse-buttons button.active {
    background-color: #003d7d;
  }
  
  .chapter-details-sloaks {
    /* border: 1px solid red; */
    margin-bottom: 20px;
    display: flex;
  }
  
  .chapter-details-sloaks {
    
  }
  
  .chapter-details-sloaks .chapter-headImg {
    width: auto;
    height: 500px;
  }
  
  .chapter-details-sloaks .chapter-headImg img {
    width: auto;
    height: 100%;
    position: relative;
    z-index: -1;
    display: block;
  }
  
  .chapter-details-sloaks .chapter-headImg {
    content: "";
    background-image: linear-gradient(to right, #000000 5% , transparent, #000000);
  }
  
  .sloka-container {
    width: 100%;
    border: 1px solid red;
  }
  
  