@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Michroma", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  box-sizing: border-box;
  background: #000;
}

nav {
  position: fixed;
  z-index: 100;
  width: 90%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0);
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.logo img {
  width: 100px;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock1 img {
  width: 40%;
  filter: brightness(0.5);
}

.text {
  width: 100%;
}

.text h1 {
  font-size: 3.5vw;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 40vh;
  left: 20vw;
}

.text h3 {
  font-size: 2vw;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 50vh;
  left: 21vw;
}

.earth img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 34vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(0.7);
}

.mid {
  left: -150px !important;
  bottom: -100px !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -20px;
  top: 20vh !important;
  filter: brightness(0.8);
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 400px;
  height: 110vh;
  z-index: 3;
  filter: brightness(0.5);
}

/* scrollbar icon */

.scrollDown {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollDown img {
  width: 80px;
}

/* website scrollbar */

::-webkit-scrollbar {
  width: 0;
}

.container-background {
  /* background: linear-gradient(135deg, #000000, #4343439a); */
  background: #ffffff16;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}

.about-container {
  margin: 10vh 5vw;
  height: 90vh;
  color: white;
  padding: 50px 80px;
}

.skills-container {
  margin: 10vh 5vw;
  height: 90vh;
  color: white;
  padding: 50px 80px;
}

.skills-div{
}

.skills-div img{
    margin-left: 60px;
    margin-top: 20px;
}

.backround-image-container{
    width: 100%;
    width: 100%;
}

.backround-image-container img{
    width: 90%;
}